.App {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  padding-left: 230px;
}

.header {
  padding: 15px 0;
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 15px;
  border-right: 1px solid #f2f2f2;
}

.main {
  padding: 15px;
  flex-grow: 1;
}

.divider {
  border: unset;
  border-top: 1px solid #f2f2f2;
  margin: 20px 0;
}

.menu {
  margin-top: 32px;
}

.menu-item {
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2;
}

.menu-item:hover {
  border-radius: 6px;
  background-color: #f2f2f2;
}