.App {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 15px 0;
}

.main {
  padding: 15px 0;
}

.divider {
  border: unset;
  border-top: 1px solid #f2f2f2;
  margin: 25px 0;
}
